<template>
  <b-container>
    <h1 class="mx-auto mt-4">About</h1>
    <p>This is a test thing-a-ma-bob that will help me with
      developing the full Werewolf webapp with Firebase.</p>
  </b-container>
</template>
<script>
import { BContainer } from 'bootstrap-vue';

export default {
  components: {
    BContainer,
  },
};
</script>
