<template>
  <b-container>
    <b-col>
      <b-row>
        <h1 class="mx-auto">Werewolf Todos</h1>
      </b-row>
      <b-row>
        <hr />
      </b-row>
      <b-row>
        <ul class="mx-auto p-0">
          <li
            class="d-flex align-items-center justify-content-between pb-1"
            v-for="todo in todos" :key="todo.id"
          >
            <b-form-checkbox

              :id="todo.id"
              v-model="todo.done"
              @input="update(todo)"
            >
              {{todo.name}}
            </b-form-checkbox>
            <b-button
              variant="outline-danger"
              @click="remove(todo)"
              class="justify-content-end border-0"
            >
              <b-icon-x-circle />
            </b-button>
          </li>
          <li>
            <b-input-group>
              <b-form-input
                v-model="newTodo.name"
                type="text"
                @click="update(todo)"
              />
              <template v-slot:append>
                <b-button
                  variant="primary"
                  @click="add(newTodo)"
                >Add</b-button>
              </template>
            </b-input-group>
          </li>
        </ul>
      </b-row>
    </b-col>
  </b-container>
</template>

<script>
import { createNamespacedHelpers } from 'vuex';
import {
  BContainer,
  BCol,
  BButton,
  BFormInput,
  BInputGroup,
  BFormCheckbox,
  BIconXCircle,
} from 'bootstrap-vue';

const { mapState, mapActions } = createNamespacedHelpers('todos');

export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  components: {
    BContainer,
    BCol,
    BButton,
    BFormInput,
    BInputGroup,
    BFormCheckbox,
    BIconXCircle,
  },
  data() {
    return {
      newTodo: {
        name: '',
        done: false,
      },
    };
  },
  computed: {
    ...mapState([
      'todos',
    ]),
  },
  methods: {
    ...mapActions([
      'add',
      'remove',
      'update',
    ]),
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
ul {
  list-style-type: none;
}
</style>
