<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="secondary">
      <b-container>
        <b-row>
          <b-navbar-brand to="/">NavBar</b-navbar-brand>
          <b-navbar-nav>
            <b-nav-item to="/">Home</b-nav-item>
            <b-nav-item to="/about">About</b-nav-item>
          </b-navbar-nav>
        </b-row>
      </b-container>
    </b-navbar>
    <b-container>
      <b-row>
        <b-col>
          <b-alert
            show
            dismissible
            variant="warning"
            class="mt-3"
          >
            <b-icon-exclamation-triangle>
            </b-icon-exclamation-triangle>
              This app is under construction and will change (a lot).
          </b-alert>
          <router-view/>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import {
  BAlert,
  BCol,
  BContainer,
  BIconExclamationTriangle,
  BRow,
} from 'bootstrap-vue';

export default {
  components: {
    BAlert,
    BCol,
    BContainer,
    BIconExclamationTriangle,
    BRow,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
